server:
  port: 8080
  
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
       routes:
        - id: account-service
          uri: http://localhost:8081
          predicates:
          - Path=/api/accounts/**
          filters:
          - StripPrefix=1
        - id: payment-service
          uri: http://localhost:8082
          predicates:
          - Path=/api/payments/**
          filters:
          - StripPrefix=1

management:
   endpoints:
     web:
       exposure:  
         include: health.info